[user]
	name = votth
	email = voth998@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
	root = rev-parse --show-toplevel
	st = status
	co = checkout
	br = branch
